<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="./index.css">
</head>

<body>
	
  <!-- 头部 -->
  <div class="page-top">
    <div class="page-content">
      <h2>任务计划列表</h2>
    </div>
  </div>
  
  <!-- 主体 -->
  <div class="main">
    <!-- 1 -->
    <h3 class="big-title">添加任务：</h3>
    <input
      placeholder="例如：吃饭睡觉打豆豆；    提示：+回车即可添加任务"
      class="task-input"
      type="text"
      v-model="msg"
      v-on:keyup.enter="sendData"
    />
    <!-- 2 -->
    <ul class="task-count" v-if='list.length!=0'>
      <li>{{unFinishedLength}}个任务未完成</li>
      <li>
        <a href="javascirpt:;" class="active" v-on:click="onAll()">所有任务</a>
        <a href="javascirpt:;" v-on:click="onUnfinished()">未完成任务</a>
        <a href="javascirpt:;" v-on:click='onFinished()'>已完成任务</a>
      </li>
    </ul>
    <!-- 4 -->
    <h3 class="big-title">任务列表：</h3>
    <div class="tasks">
      <span class="no-task-tip" v-if="list.length == 0">还没有添加任何任务</span>
      <ul class="todo-list">
        <li 
        	class="todo" 
        	v-for='(item,i) in list'
        	v-bind:class="{completed:item.isChecked , editing: item.isEditing}"
        >
          <div class="view">
            <input
              type="checkbox"
              class="toggle"
              v-model="item.isChecked"
            />
            <label v-on:dblclick="onEdit(item.msg,i)">{{item.msg}}</label>
            <button class="destroy" v-on:click="onDestory(i)"></button>
          </div>
          <input
            class="edit"
            type="text"
            v-model="editValue"
            v-focus="editValue"
            v-on:blur="onCancel(i)"
            v-on:keyup.13="onConfirm(i)"
          />
        </li>
      </ul>
    </div>
  </div>
</body>
<script src="vue.js"></script>
<script>
	Vue.directive('focus',{
		update(el,binding){
			el.focus();
  //	el.select();
		}
	})
	
	new Vue({
		el:'.main',
		data:{
			msg:'',
			list:[],
			editValue: '',
			
		},
		computed: {
      'unFinishedLength': function() {
        return this.list.filter(item => {
        	return !item.isChecked
        }).length
      }
    },
		methods:{
			sendData(){
				this.list.push({
					msg:this.msg,
					isChecked:false,
					isEditing:false
				})
			},
			onDestory(i){
				this.list.splice(i,1)
			},
			onEdit(msg,i){
				if(!this.list[i].isChecked){
					this.list[i].isEditing = true;
				  this.editValue = msg;
				}
			},
			onCancel(i){
				this.list[i].isEditing = false;
			},
			onConfirm(i){
				this.list[i].msg = this.editValue;
				this.list[i].isEditing = false
			},
			onAll(){
				this.list= this.list.filter(item =>true)
				
			},
			onUnfinished(){
				this.list= this.list.filter(item =>!item.isChecked)
				
			},
			onFinished(){
				this.list= this.list.filter(item =>item.isChecked)
				
			}
		}
	})
</script>
</html>
